* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "system-ui", serif;
  height: 100vh;
  background-image: linear-gradient(
    295deg,
    hsl(56deg 80% 68%) 0%,
    hsl(55deg 76% 70%) 11%,
    hsl(53deg 72% 72%) 22%,
    hsl(52deg 66% 73%) 33%,
    hsl(51deg 59% 75%) 44%,
    hsl(50deg 51% 76%) 56%,
    hsl(49deg 41% 77%) 67%,
    hsl(47deg 30% 78%) 78%,
    hsl(46deg 18% 79%) 89%,
    hsl(45deg 4% 79%) 100%
  );
}

.icon-bar {
  top: 80px;
  padding: 20px;
  position: fixed;
}

.icon-bar a {
  align-items: center;
  border-radius: 50%;
  color: black;
  display: flex;
  font-size: 20px;
  height: 60px;
  justify-content: center;
  margin-block: 20px;
  position: relative;
  transition: 0.5s ease;
  width: 60px;
}

.icon-bar a:hover {
  background-color: #72b626;
}

.icon-bar .selected {
  background-color: #72b626;
  font-weight: 900;
}

.texto {
  align-items: center;
  background-color: #72b626;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  left: 64px;
  opacity: 0;
  padding-block: 10px;
  position: absolute;
  top: 10px;
}

.icon-bar a:hover .texto {
  width: 150px;
  opacity: 1;
}

.inicio {
  gap: 150px;
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 40px 50px 40px 124px;
}

.presentacion {
  width: 56%;
}

.presentacion h1 {
  width: 400px;
  font-size: 40px;
  margin-bottom: 14px;
}

.presentacion .txtespecial {
  color: #72b626;
}

.presentacion p {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 12px;
}

.presentacion .boton {
  border: none;
  background-color: transparent;
  font-size: 18px;
  border: 1px solid #72b626;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}

.presentacion .boton:hover {
  background-color: #72b626;
}

.contenedor-foto {
  width: 300px;
  overflow: hidden;
  border-radius: 12px;
}

.foto {
  position: relative;
  left: -90px;
}

@media only screen and (max-width: 990px) {
  .presentacion {
    width: 90%;
  }

  .contenedor-foto {
    display: none;
  }
}

@media only screen and (max-width: 790px) {
  .presentacion,
  .presentacion h1 {
    text-align: center;
  }

  .presentacion h1 {
    width: 100%;
  }
}
